body {
  /* Brookwater Labs Blue */
  --accent-color: #004e92;
}
a, .navigation a, .site-title {
  color: var(--accent-color) !important;
}
.site-nav {
  border-bottom: 2px solid var(--accent-color);
}
.btn, .button, .site-header, .footer-col {
  background-color: var(--accent-color) !important;
  color: #fff !important;
}
